@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<code>Hostname: @ViewBag.HostName</code><br />
<code>ComputerName: @ViewBag.ComputerName</code><br />
<code>StampName: @ViewBag.StampName</code><br />
